<header class="header">
  <div class="container wrapper">
    <nav class="navigation">
      <a class="logo" href="./index.html"
        >Web<span class="dark">Studio</span></a
      >
      <ul class="navigation-menu">
        <li>
          <a class="navigation-link current" href="./index.html">Studio</a>
        </li>
        <li><a class="navigation-link" href="">Portfolio</a></li>
        <li><a class="navigation-link" href="">Contacts</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-menu">
        <li>
          <a class="contact-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a class="contact-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Open mobile menu button"
    >
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
