<section class="portfolio section">
  <div class="container">
    <h2 class="section-title">Our Portfolio</h2>
    <ul class="project-list">
      <li class="project-card">
        <div class="project-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio-1-w360.jpg    1x,
                ./img/portfolio-1-w360@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio-1-w356.jpg    1x,
                ./img/portfolio-1-w356@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio-1-w288.jpg    1x,
                ./img/portfolio-1-w288@2x.jpg 2x
              "
            />
            <img
              src="./img/portfolio-1-w360.jpg"
              alt="An example of a mobile banking app minimalist design"
              width="360"
              height="300"
            />
          </picture>
          <p class="project-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="project-description">
          <h3 class="project-name">Banking App</h3>
          <p class="project-type">App</p>
        </div>
      </li>
      <li class="project-card">
        <div class="project-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio-2-w360.jpg    1x,
                ./img/portfolio-2-w360@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio-2-w356.jpg    1x,
                ./img/portfolio-2-w356@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio-2-w288.jpg    1x,
                ./img/portfolio-2-w288@2x.jpg 2x
              "
            />
            <img
              src="./img/portfolio-2-w360.jpg"
              alt="Scanning QR code with the smartphone camera for cashless payment"
              width="360"
              height="300"
            />
          </picture>
          <p class="project-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="project-description">
          <h3 class="project-name">Cashless Payment</h3>
          <p class="project-type">Marketing</p>
        </div>
      </li>
      <li class="project-card">
        <div class="project-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio-3-w360.jpg    1x,
                ./img/portfolio-3-w360@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio-3-w356.jpg    1x,
                ./img/portfolio-3-w356@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio-3-w288.jpg    1x,
                ./img/portfolio-3-w288@2x.jpg 2x
              "
            />
            <img
              src="./img/portfolio-3-w360.jpg"
              alt="Desktop and mobile versions of the meditation app"
              width="360"
              height="300"
            />
          </picture>
          <p class="project-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="project-description">
          <h3 class="project-name">Meditation App</h3>
          <p class="project-type">App</p>
        </div>
      </li>
      <li class="project-card">
        <div class="project-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio-4-w360.jpg    1x,
                ./img/portfolio-4-w360@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio-4-w356.jpg    1x,
                ./img/portfolio-4-w356@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio-4-w288.jpg    1x,
                ./img/portfolio-4-w288@2x.jpg 2x
              "
            />
            <img
              src="./img/portfolio-4-w360.jpg"
              alt="A taxi driver using an app on his smartphone to connect with a client"
              width="360"
              height="300"
            />
          </picture>
          <p class="project-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="project-description">
          <h3 class="project-name">Taxi Service</h3>
          <p class="project-type">Marketing</p>
        </div>
      </li>
      <li class="project-card">
        <div class="project-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio-5-w360.jpg    1x,
                ./img/portfolio-5-w360@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio-5-w356.jpg    1x,
                ./img/portfolio-5-w356@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio-5-w288.jpg    1x,
                ./img/portfolio-5-w288@2x.jpg 2x
              "
            />
            <img
              src="./img/portfolio-5-w360.jpg"
              alt="A series of illustrations suitable for smartphone lock screen"
              width="360"
              height="300"
            />
          </picture>
          <p class="project-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="project-description">
          <h3 class="project-name">Screen Illustrations</h3>
          <p class="project-type">Design</p>
        </div>
      </li>
      <li class="project-card">
        <div class="project-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio-6-w360.jpg    1x,
                ./img/portfolio-6-w360@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio-6-w356.jpg    1x,
                ./img/portfolio-6-w356@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio-6-w288.jpg    1x,
                ./img/portfolio-6-w288@2x.jpg 2x
              "
            />
            <img
              src="./img/portfolio-6-w360.jpg"
              alt="A girl using her smartphone for taking online language classes"
              width="360"
              height="300"
            />
          </picture>
          <p class="project-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="project-description">
          <h3 class="project-name">Online Courses</h3>
          <p class="project-type">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
