.transition {
  transition-property: color, background-color, border-color, box-shadow, fill,
    cursor, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
