html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--gun-powder);
  background-color: var(--white);
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--valhalla);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  background-color: var(--royal-blue);
  border: none;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--free-speech-blue);
}

@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
