.container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
