.features-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.features-box {
  display: none;
}
.features-name {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--valhalla);
}
.features-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
  }
  .features-item {
    width: 356px;
  }
  .features-name {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }
  .features-item {
    width: 264px;
  }
  .features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--ghost-white);
    border: 1px solid var(--manatee);
    border-radius: 4px;
  }
  .features-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .features-text {
    font-weight: 400;
  }
}
