.footer {
  background-color: var(--valhalla);
}
.footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}
.text-wrapper {
  width: 264px;
}
.footer .logo {
  margin-bottom: 16px;
  text-align: center;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ghost-white);
}
.footer-caption {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.footer .socials {
  gap: 16px;
}
.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--shamrock);
}
.form-wrapper {
  width: 288px;
}
.subscription .form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscription .form-input:hover,
.subscription .form-input:focus {
  border-color: var(--shamrock);
}
.subscription .form-input::placeholder {
  color: currentColor;
}
.footer-btn {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--shamrock);
}
.send-icon {
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    padding-right: 108px;
    padding-left: 108px;
  }
  .footer .wrapper {
    column-gap: 24px;
    justify-content: start;
  }
  .footer .logo {
    text-align: left;
  }
  .footer-caption {
    text-align: left;
  }
  .form-wrapper {
    width: 453px;
  }
  .subscription {
    display: flex;
    gap: 24px;
  }
  .subscription .form-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer .wrapper {
    flex-wrap: nowrap;
    column-gap: 80px;
  }
  .socials-wrapper {
    margin-left: 40px;
  }
}
