.header {
  border-bottom: 1px solid var(--lavender);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
.navigation-menu {
  display: none;
}
.contacts-menu {
  display: none;
}
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 768px) {
  .header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .navigation {
    display: flex;
    gap: 120px;
    align-items: center;
  }
  .navigation-menu {
    display: flex;
    gap: 40px;
  }
  .navigation-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--valhalla);
  }
  .navigation-link:hover,
  .navigation-link:focus {
    color: var(--free-speech-blue);
  }
  .current {
    color: var(--free-speech-blue);
  }
  .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--free-speech-blue);
    border-radius: 2px;
  }
  .contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-link {
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--free-speech-blue);
  }
  .mobile-menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .navigation {
    gap: 76px;
  }
  .contacts-menu {
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
