.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--royal-blue);
}
.dark {
  color: var(--valhalla);
}
.light {
  color: var(--ghost-white);
}
