.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background-color: var(--white);
  visibility: hidden;
  transform: translateX(-100%);
}
.mobile-menu.is-open {
  visibility: visible;
  transform: translateX(0);
}
.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--valhalla);
  background-color: transparent;
  border: 1px solid var(--lavender);
  border-radius: 50%;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--valhalla);
}
.current {
  color: var(--free-speech-blue);
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contact {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-menu .socials {
  gap: 40px;
}
