.backdrop {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  background-color: var(--snow);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--lavender);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-modal-btn:hover {
  background-color: var(--free-speech-blue);
  fill: var(--white);
}
.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--valhalla);
}
.callback .form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--manatee);
}
.callback .input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.callback .form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--manatee);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
}
.callback .form-input:focus {
  border-color: var(--royal-blue);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--valhalla);
  transform: translateY(-50%);
}
.callback .form-input:focus + .form-icon {
  fill: var(--royal-blue);
}
.form-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--manatee);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.form-comment::placeholder {
  opacity: 0.5;
}
.form-comment:focus {
  border-color: var(--royal-blue);
}
.form-agreement {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--manatee);
  user-select: none;
}
.custom-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
}
.form-checkbox:checked + .custom-checkbox {
  background-color: var(--free-speech-blue);
  border-color: var(--free-speech-blue);
}
.checkbox-icon {
  fill: var(--ghost-white);
  opacity: 0;
}
.form-checkbox:checked + .custom-checkbox > .checkbox-icon {
  opacity: 1;
}
.agreement-link {
  line-height: 1.33;
  text-decoration: underline;
  color: var(--royal-blue);
}
.send-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
  .form-agreement {
    align-items: baseline;
  }
}
