.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}
.project-card {
  width: 288px;
  background-color: var(--white);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.project-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.project-wrapper {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ghost-white);
  background-color: var(--royal-blue);
  transform: translateY(100%);
}
.project-card:hover .project-overlay {
  transform: translateY(0);
}
.project-description {
  padding: 32px 16px;
  border-right: 1px solid var(--lavender);
  border-bottom: 1px solid var(--lavender);
  border-left: 1px solid var(--lavender);
}
.project-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--valhalla);
}
.project-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .project-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .project-card {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .project-list {
    row-gap: 48px;
  }
  .project-card {
    width: 360px;
  }
}
