a {
  color: currentColor;
  text-decoration: none;
}
button {
  padding: 0;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
