.team {
  background-color: var(--ghost-white);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}
.team-card {
  width: 264px;
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 16px;
}
.team-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--valhalla);
}
.team-position {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.socials {
  display: flex;
  gap: 24px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: var(--royal-blue);
  border-radius: 50%;
}
.team-card:hover .socials-link {
  background-color: var(--free-speech-blue);
}
.socials-icon {
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }
}
