:root {
  --white: #ffffff;
  --snow: #fcfcfc;
  --ghost-white: #f4f4fd;
  --lavender: #e7e9fc;
  --manatee: #8e8f99;
  --gun-powder: #434455;
  --valhalla: #2e2f42;
  --royal-blue: #4d5ae5;
  --free-speech-blue: #404bbf;
  --shamrock: #31d0aa;
}
